body {
    background-color: #1f1919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 550px;
    height: 370px;
}

.form_input {
    color: #5be6e6;
    background-color: #ffffff;
    font-size: 30px;
    width: 100%;
    height: 50px;
    margin-left: -4px;
}

.form_textarea {
    color: #feffff;
    background-color: #8a8bd1;
    font-size: 30px;
    width: 100%;
    height: 200px;
    margin-left: -4px;
}